$theme-color: #ececec;
$text-main-color: #24292e;
$text-color-yellow: linear-gradient(to bottom, rgba(244, 178, 93, 1) 0%, rgba(219, 91, 31, 1) 100%);
$text-secondary-color: #ccc;
$drawer-background: #fff;