<mat-drawer-container class="tags-drawer-container" hasBackdrop="true">
    <mat-drawer #drawer mode="over" position="end" class="drawer" style="width: 460px;">
        @if (currentAction()) {
        <arc-tag-drawer [mode]="currentAction() || 'add'" [tag]="currentTag()"
            (saved)="closeDrawer()" (close)="closeDrawer()">
        </arc-tag-drawer>
        }
    </mat-drawer>

    <mat-drawer-content>
        <div class="page-container">
            <arc-page-header [title]="'admin.audience.tags.title' | transloco"
                [subtitle]="'admin.audience.tags.subtitle' | transloco">
                <button mat-stroked-button (click)="runMigration()" [disabled]="busy()"
                    matTooltip="Import tags from your waitlists into the global audience. Safe to run more than once.">
                    <mat-icon>download</mat-icon> {{ 'admin.audience.tags.import' | transloco }}
                </button>
                <button mat-flat-button color="primary" (click)="openAdd()">
                    <mat-icon>add</mat-icon> {{ 'admin.audience.tags.create' | transloco }}
                </button>
            </arc-page-header>

            <app-global-table [data]="tags()" [columns]="columns" [loading]="loading()"
                emptyIcon="fas fa-tags" [emptyTitle]="'admin.audience.tags.empty_title' | transloco"
                [emptyDescription]="'admin.audience.tags.empty_description' | transloco"
                emptyActionLabel="Create tag" emptyActionIcon="fas fa-plus"
                (emptyActionClick)="openAdd()">
            </app-global-table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
